
/* Utilities */
body{
    font-family: 'Poppins', sans-serif;
}

.honda-text-color{
    color: #E76F51;
}
/* Header section css */

.custom-bg{
    background-color: #264653;
}

.honda-btn-bg{
    background-color: #E76F51;
    color: #fff;
}

/* featured bike section */

.image-gray{
    filter: grayscale(100%);
}